<?xml version='1.0' encoding='utf-8'?>
<widget id="app.xuberantsolutions.com" version="0.0.2"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">

    <name>Xuberant</name>
    <description>Xuberant Solutions Pvt. Ltd.</description>
    <author email="hi@ionicframework.com" href="http://ionicframework.com/">
        Ionic Framework Team
    </author>

    <content src="index.html" />
    <access origin="*" />

    <!-- Permissions -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- Preferences -->
    <preference name="ScrollEnabled" value="false" />
    <preference name="BackupWebStorage" value="none" />

    <!-- NEW Splash (Android 12+) -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="android/app/src/main/res/drawable/splash.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />

    <platform name="android">
        <allow-intent href="market:*" />

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.CAMERA" />
        </config-file>

        <edit-config file="app/src/main/AndroidManifest.xml"
            mode="merge"
            target="/manifest/application"
            xmlns:android="http://schemas.android.com/apk/res/android">
            <application android:networkSecurityConfig="@xml/network_security_config" />
        </edit-config>

        <resource-file src="resources/android/xml/network_security_config.xml"
            target="app/src/main/res/xml/network_security_config.xml" />

        <!-- Icons only -->
        <icon density="mdpi" src="android/app/src/main/res/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="android/app/src/main/res/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="android/app/src/main/res/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>

    <!-- Updated Plugins -->
    <plugin name="cordova-plugin-statusbar" spec="^3.0.0" />
    <plugin name="cordova-plugin-device" spec="^2.1.0" />

    <!-- UPDATED WebView (CRITICAL FIX) -->
    <plugin name="cordova-plugin-ionic-webview" spec="^5.0.0" />

    <plugin name="cordova-plugin-ionic-keyboard" spec="^2.2.0" />

</widget>