<ion-content class="hearer-top-content">
  <h5>Site Details</h5>
  <div class="site-info">  
    <p>Item Details</p>
    <table class="site-n">
      <tr>
        <td>Panel:</td>
        <td>{{this.pennelinfo.name}}</td>
      </tr>
      <tr>
        <td>Inverter:</td>
        <td>{{this.pennelinfo.person_name}}</td>
      </tr>
      <tr>
        <td>Start Date:</td>
        <td>{{this.pennelinfo.sitestartdate}}</td>
      </tr>
      <tr>
        <td>Site Address:</td>
        <td>{{this.pennelinfo.person_address}}</td>
      </tr>
      
    </table>

    <h4>Installation Item</h4>

    

    <div class="table-grid">
      <ion-grid class="ion-margin">
        <ion-row>
          <ion-col>Title</ion-col>
          <ion-col>Quantity</ion-col>
        </ion-row>
        <ion-row *ngFor="let installation of pennelinfo.installation_item; index as i">
          <ion-col>{{installation.title}}</ion-col>
          <ion-col>{{installation.quantity}}</ion-col>
        </ion-row>
      </ion-grid>
    </div>  

    <div class="table-grid">
      <h4>Additional Item</h4>
      <div class="" *ngFor="let civil of pennelinfo.civil_item;">
        <ion-grid class="ion-margin cutom-margin">
          <ion-row>
            <ion-col>{{civil.title}}</ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid class="ion-margin" >
          <ion-row>
            <ion-col>Title</ion-col>
            <ion-col>Quantity</ion-col>
          </ion-row>
          <ion-row *ngFor="let content of civil.content; index as i">
            <ion-col>{{content.title}}</ion-col>
            <ion-col>{{content.quantity}}</ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </div> 
</div>

 
    <div class="site-info">
        
        <p>Beneficiary Info</p>
        <table>
          <tr>
            <td>Name:</td>
            <td>{{this.pennelinfo.siteinfo.name}}</td>
          </tr>
          <tr>
            <td>Address:</td>
            <td>{{this.pennelinfo.siteinfo.address}}</td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>{{this.pennelinfo.siteinfo.phone}}</td>
          </tr>
          <tr>
            <td>Alternate Ph:</td>
            <td>{{this.pennelinfo.siteinfo.altphone}}</td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>{{this.pennelinfo.siteinfo.email}}</td>
          </tr>
        </table>
       </div> 
        
</ion-content>
