<ion-content
  class="content-list hearer-top-content"
  [ngClass]="{
    'dashboard-search-mode': logininfo?.type == '2',
    'dashboard-projects-mode': logininfo?.type == '1'
  }">

  <!-- type=1: project list -->
  <ng-container *ngIf="logininfo.type == '1'">
    <div class="projects-page">
      <div class="projects-last-login">
        <img src="assets/img/lock.png" class="lock-image" alt="" />
        <span>Last login {{ logininfo.last_login }}</span>
      </div>

      <div class="projects-heading">
        <img src="assets/img/solar-energy.png" class="projects-heading-icon" alt="" />
        <h1 class="projects-title">Your Projects</h1>
      </div>

      <ion-list class="projects-list" lines="none">
        <ion-item *ngFor="let item of pannellist" lines="none" [detail]="false" class="projects-item" [button]="true" (click)="getinfo(item)">
          <div class="project-card">
            <div class="project-card__top">
              <div class="project-card__top-left">
                <h2 class="project-card__title">{{ item.name }}</h2>
                <p class="project-card__id">ID: {{ item.id }}</p>
              </div>
              <div class="project-card__badges">
                <span class="project-card__badge project-card__badge--process" *ngIf="item.status == 'S'">In process</span>
                <span class="project-card__badge project-card__badge--pending" *ngIf="item.status == 'A'">Not started</span>
              </div>
            </div>
            <div class="project-card__divider"></div>
            <div class="project-card__grid">
              <div class="project-card__cell">
                <span class="project-card__k">Beneficiary</span>
                <span class="project-card__v">{{ item.person_name }}</span>
              </div>
              
            </div>
            <div class="project-card__grid">
              
              <div class="project-card__cell">
                <span class="project-card__k">Location</span>
                <span class="project-card__v project-card__v--loc project-location-value">
                  <img src="assets/img/mark.png" class="project-card__pin" alt="" />
                  {{ item.person_address }}
                </span>
              </div>
            </div>
            <div class="project-card__footer">
              <img src="assets/img/calendar.png" class="project-card__cal" alt="" />
              <span>{{ item.ndate }}</span>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ng-container>

  <!-- type=2: search interface -->
  <ng-container *ngIf="logininfo.type == '2'">
    <ion-row>
      <ion-col size="12" class="">
        <div class="last-login"><img src="assets/img/lock.png" class="lock-image" alt="your image"> Last Login {{logininfo.last_login}}</div>
      </ion-col>
      <ion-col size="12" class="">
        <p class="solar-content"><img src="assets/img/solar-energy.png" class="solar-energy" alt="your image">  <span>Search</span></p>
      </ion-col>
    </ion-row>
    <ion-row class="search-pill-row">
      <ion-col size="12">
        <div class="search-pill">
          <ion-searchbar
            class="search-pill-input"
            [(ngModel)]="searchTerm"
            placeholder="Enter search term"
            [showCancelButton]="'never'"
            [showClearButton]="'focus'"
            (keyup.enter)="doSearch()">
          </ion-searchbar>
          <ion-button class="search-pill-btn" (click)="doSearch()">Search</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="searchResults" class="search-results-row">
      <ion-col size="12">
        <ion-list class="projects-list" lines="none">
          <ion-item *ngFor="let item of searchResults" lines="none" [detail]="false" class="projects-item" [button]="true" (click)="getinfo(item)">
            <div class="project-card">
              <div class="project-card__top">
                <div class="project-card__top-left">
                  <h2 class="project-card__title">{{ item.name }}</h2>
                  <p class="project-card__id">ID: {{ item.id }}</p>
                </div>
                <div class="project-card__badges">
                  <span class="project-card__badge project-card__badge--process" *ngIf="item.status == 'S'">In process</span>
                  <span class="project-card__badge project-card__badge--pending" *ngIf="item.status == 'A'">Not started</span>
                </div>
              </div>
              <div class="project-card__divider"></div>
              <div class="project-card__grid">
                <div class="project-card__cell">
                  <span class="project-card__k">Beneficiary</span>
                  <span class="project-card__v">{{ item.person_name }}</span>
                </div>
                <div class="project-card__cell">
                  <span class="project-card__k">Location</span>
                  <span class="project-card__v project-card__v--loc">
                    <img src="assets/img/mark.png" class="project-card__pin" alt="" />
                    {{ item.person_address }}
                  </span>
                </div>
              </div>
              <div class="project-card__footer">
                <img src="assets/img/calendar.png" class="project-card__cal" alt="" />
                <span>{{ item.ndate }}</span>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ng-container>

</ion-content>
